/* =====================
   FAQ HERO
===================== */

.faq-hero{
height:350px;
background-image:url("https://images.unsplash.com/photo-1551836022-d5d88e9218df");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
position:relative;
overflow:hidden;
}

.faq-hero::before{
content:"";
position:absolute;
inset:0;
background:rgba(0,0,0,0.6);
}

.faq-hero-content{
position:relative;
color:white;
max-width:700px;
z-index:2;
padding:0 20px;
}

.faq-hero h1{
font-size:45px;
margin-bottom:10px;
font-weight:700;
}


/* =====================
   FAQ SECTION
===================== */

.faq-section{
padding:120px 60px;
background:#f8f9fb;
}

.faq-container{
max-width:900px;
margin:auto;
}


/* =====================
   FAQ ITEM
===================== */

.faq-item{
background:white;
border-radius:10px;
margin-bottom:20px;
box-shadow:0 8px 20px rgba(0,0,0,0.08);
overflow:hidden;
transition:0.3s;
}

.faq-item:hover{
box-shadow:0 12px 30px rgba(0,0,0,0.12);
}

.faq-question{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
cursor:pointer;
}

.faq-question h3{
font-size:18px;
font-weight:600;
}

.faq-question span{
font-size:24px;
color:#ff6600;
}

.faq-answer{
padding:0 20px 20px;
color:#666;
line-height:1.6;
font-size:15px;
}


/* =====================
   CTA SECTION
===================== */

.faq-cta{
padding:80px;
text-align:center;
background:#d8d0d0;
color:#160404;
}

.faq-cta h2{
margin-bottom:10px;
font-size:30px;
}

.faq-cta p{
max-width:600px;
margin:auto;
}

.faq-cta button{
margin-top:15px;
padding:12px 30px;
background:#ff6600;
border:none;
color:white;
font-size:16px;
border-radius:8px;
cursor:pointer;
transition:0.3s;
}

.faq-cta button:hover{
background:#ff4500;
transform:scale(1.05);
box-shadow:0 8px 20px rgba(0,0,0,0.3);
}


/* =====================
   TABLET RESPONSIVE
===================== */

@media (max-width:1024px){

.faq-section{
padding:100px 40px;
}

.faq-hero h1{
font-size:36px;
}

}


/* =====================
   MOBILE RESPONSIVE
===================== */

@media (max-width:768px){

.faq-hero{
height:250px;
}

.faq-hero h1{
font-size:26px;
}

/* section padding */
.faq-section{
padding:80px 20px;
}

/* CTA */
.faq-cta{
padding:60px 20px;
}

.faq-cta h2{
font-size:22px;
}

.faq-question h3{
font-size:16px;
}

}