/* HERO */

.about-hero {
    height: 250px;
    background-image: url("/bg-testimonials-2.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

}

.about-hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.about-hero-content {
    position: relative;
    color: #FFFFFF;
    max-width: 700px;
    margin-top: 90px;
}

.about-hero h1 {
    font-size: 46px;
    margin-bottom: 10px;
}


/* ABOUT */

.about-company {
    padding: 120px 60px;
    background: #f8f9fb;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    max-width: 1200px;
    margin: auto;
    align-items: center;
}

.about-img img {
    width: 100%;
    border-radius: 12px;
}

.about-content h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.Ah {
    color: #222222;
    font-weight: bolder;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    /* remove default underline */
}

.Ah::after {
    content: "";
    position: absolute;
    width: 75%;
    /* 👈 underline length */
    height: 2px;
    background: #222222;
    left: 0;
    bottom: -3px;
}

span {
    color: #D8B872;
    margin-left: 10px;
}

.about-content p {
    color: #666;
    line-height: 1.7;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: sans-serif;
}
.about-content span{
    font-size: 28px;
}

/* MISSION VISION */

.mission-vision {
    padding: 100px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    background: white;
}

.mission-box,
.vision-box {
    background: #f5f5f5;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.mission-box:hover,
.vision-box:hover {
    transform: translateY(-8px);
}

.stats-section {
    background-image: url("/bg-details.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0px 0px;
    position: relative;
}

.stats-overlay {
    background: rgba(255, 255, 255, 0.85);
    padding: 60px 20px;
}

.stats-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;
    height: 200px;
}

.stat-box {
    flex: 1;
    min-width: 200px;
    transition: 0.3s;
}

.stat-box:hover {
    transform: translateY(-8px);
    /*  hover effect */
}

.stat-icon {
    font-size: 40px;
    color: #e63946;
    margin-bottom: 10px;
}

.stat-box h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}

.stat-box p {
    font-size: 16px;
    color: #333;
}
/* TESTIMONIALS */

.testimonials-section {
  background: #f5f5f5;
  padding: 80px 20px;
  text-align: center;
  
}

.test-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.test-title span {
  color: #e63946;
  font-size: 25px;
}

.test-subtitle {
  color: #666;
  margin-bottom: 40px;
}

/* CARD */
.testimonial-card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  transition: 0.3s;
  height: 100%;
}

.testimonial-card:hover {
  transform: translateY(-6px);
}

.testimonial-card h4 {
  color: #e63946;
  margin-bottom: 15px;
}

.testimonial-card p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

/* DOTS */
.swiper {
  padding-bottom: 40px;   /* niche space create karega */
}

.swiper-pagination {
  bottom: 10px !important;
}
.swiper-pagination-bullet {
  background: #000;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background: #383334;
  opacity: 1;
  
}
.breadcrumb span{
    font-size: 15px;
}

@media (max-width:768px) {

    .about-hero {
        height: auto;
        padding: 120px 20px;
    }

    .about-hero h1 {
        font-size: 28px;
    }

    .about-company {
        padding: 80px 20px;
    }

    .about-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .mission-vision {
        grid-template-columns: 1fr;
        padding: 70px 20px;
    }

    .about-content h2 {
        font-size: 28px;
    }
  

}

.breadcrumb {
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    font-size: larger;
    margin-top: 50px;
}

.breadcrumb a {
    color: White;
    font-weight: 500;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: rgb(226, 10, 10);
}

.breadcrumb span {
    color: #ddd;
}

@media (max-width: 768px) {

  .stats-container {
    flex-direction: column;  
    align-items: center;
    height: auto;             
    gap: 30px;
  }

  .stat-box {
    width: 100%;              
    max-width: 300px;         
  }

  .stat-box h2 {
    font-size: 26px;
  }

  .stat-icon {
    font-size: 32px;
  }
  .about-content span{
    font-size: 22px;
}
}