/* =========================
SECTION
========================= */

.popular{
  padding:100px 40px;
  background:#cfae6c;
  text-align:center;
}

/* =========================
TITLE
========================= */

.section-title{
  font-size:32px;
  color:#fff;
  margin-bottom:6px;
  font-weight:500;
}

p.section-desc{
  color:#fff;
  margin-bottom:40px;
  font-size:14px;
  opacity:0.9;
}

/* =========================
CARD
========================= */

.property-card{
  border-radius:12px;
  overflow:hidden;
  background:#fff;
  box-shadow:0 6px 16px rgba(0,0,0,0.08);
  transition:all 0.3s ease;
}

.property-card:hover{
  transform:translateY(-4px);
}

/* =========================
IMAGE
========================= */

.card-img{
  width:100%;
  height:185px;
}

.card-img img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}

/* =========================
CONTENT
========================= */

.card-content{
  display:flex;
  flex-direction:column;
  padding:20px;
  height:250px;
}

/* TITLE */

.card-content h3{
  font-size:17px;
  font-weight:600;
  margin-bottom:6px;
  color:#444444;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
   padding-left:20px;
}

/* LOCATION */

.location{
  font-size:13px;
  color:#777;
  margin-bottom:14px;
  display:flex;
  align-items:center;
  gap:6px;
  white-space:nowrap;
   padding-left:50px;
}

/* =========================
DETAILS GRID (FINAL FIX)
========================= */

.details{
  display:grid;
  grid-template-columns:1fr 1fr;   /* 2 per row */
  gap:14px 30px;                   /* spacing */
  width:100%;
}

/* EACH ITEM */

.detail-item{
  display:flex;
  align-items:center;
  gap:8px;
  font-size:15px;                 /* 👈 FINAL SIZE */
  font-weight:500;                /* 👈 premium look */
}
.ic{
  color:#666666;

}
/* ICON SIZE */

.detail-item span:first-child{
  font-size:17px;
}

/* =========================
SWIPER DOTS
========================= */

.swiper-pagination{
  margin-top:20px;
}

.swiper-pagination-bullet{
  width:6px;
  height:6px;
  background:#fff;
  opacity:0.5;
}

.swiper-pagination-bullet-active{
  width:16px;
  border-radius:10px;
  background:white;
  opacity:1;
}

/* =========================
RESPONSIVE
========================= */

@media(max-width:1024px){
  .popular{
    padding:80px 25px;
  }
}

@media(max-width:768px){

  .popular{
    padding:70px 15px;
  }

  .card-img{
    height:170px;
  }

  .section-title{
    font-size:26px;
  }
}

/* MOBILE */

@media(max-width:480px){

  .card-img{
    height:150px;
  }

  .details{
    grid-template-columns:1fr;
  }
}