/* =====================
   TEAM SECTION
===================== */

.team{
padding:120px 60px;
background:linear-gradient(180deg,#f8f9fb,#eef2f7);
text-align:center;
}
span{
   color: #444444;
}
/* Heading */

.team-title{
font-size:42px;
font-weight:700;
margin-bottom:10px;
color:#111;
}

.team-desc{
max-width:700px;
margin:0 auto 60px;
color:#666;
line-height:1.7;
font-size:17px;
}


/* =====================
   GRID LAYOUT
===================== */

.team-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
max-width:1200px;
margin:auto;
}


/* =====================
   TEAM CARD
===================== */

.team-card{
background:#fff;
border-radius:15px;
overflow:hidden;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
transition:all 0.4s ease;
position:relative;
}

.team-card:hover{
transform:translateY(-10px);
box-shadow:0 15px 35px rgba(0,0,0,0.15);
}


/* =====================
   IMAGE
===================== */

.team-img{
position:relative;
overflow:hidden;
}

.team-img img{
width:100%;
height:300px;
object-fit:cover;
transition:transform 0.4s ease;
}

/* Zoom effect */

.team-card:hover .team-img img{
transform:scale(1.08);
}




/* =====================
   INFO
===================== */

.team-info{
padding:22px;
}

.team-info h3{
font-size:20px;
margin-bottom:5px;
color:#111;
}
.team-info h3:hover{
   color: #666666;
}

.team-info p{
color:#777;
font-size:15px;
line-height:1.6;
}


/* =====================
   MOBILE RESPONSIVE
===================== */

@media (max-width:768px){

.team{
padding:80px 20px;
}

.team-title{
font-size:28px;
}

.team-desc{
font-size:15px;
margin-bottom:40px;
}

.team-img img{
height:240px;
}

}