.testimonials{
padding:120px 80px;
background:linear-gradient(135deg,#f8f9fb,#eef2f7);
text-align:center;
position:relative;
}

/* heading */

.test-title{
font-size:42px;
font-weight:700;
color:#111;
margin-bottom:10px;
}

.test-desc{
max-width:720px;
margin:0 auto 70px;
color:#6b7280;
font-size:17px;
line-height:1.8;
}

/* card */

.testimonial-card{
background:white;
padding:40px 30px;
border-radius:18px;
box-shadow:0 15px 35px rgba(0,0,0,0.08);
transition:0.4s;
position:relative;
}

/* hover */

.testimonial-card:hover{
transform:translateY(-8px);
box-shadow:0 20px 45px rgba(0,0,0,0.15);
}

/* client image */

.testimonial-card img{
width:85px;
height:85px;
border-radius:50%;
object-fit:cover;
margin-bottom:18px;
border:4px solid #f1f1f1;
}

/* name */

.testimonial-card h3{
font-size:19px;
font-weight:600;
margin-bottom:8px;
color:#111;
}

/* review */

.testimonial-card p{
color:#6b7280;
font-size:15px;
line-height:1.7;
}

/* quote icon */

.testimonial-card::before{
content:"❝";
position:absolute;
top:15px;
left:20px;
font-size:50px;
color:#ff660020;
font-weight:bold;
}
.swiper-button-next,
.swiper-button-prev{
color:#ff6600;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
color:#ff4500;
}