/* ===================== */

.why{
  padding:120px 60px;
  background:#f7f9fc;
  text-align:center;
}

/* heading */

.why-title{
  font-size:42px;
  font-weight:700;
  margin-bottom:10px;
}

.why-sub{
  color:#666;
  margin-bottom:60px;
}

/* GRID */

.why-container{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:30px;
  max-width:1200px;
  margin:auto;
}

/* CARD */

.why-card{
  background:white;
  padding:35px 25px;
  border-radius:14px;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
  transition:0.3s;
}

.why-card:hover{
  transform:translateY(-8px);
  box-shadow:0 15px 35px rgba(0,0,0,0.15);
}

/* ICON */

.why-card .icon{
  font-size:40px;
  color:#D8B872;
  margin-bottom:20px;
}

/* TITLE */

.why-card h3{
  font-size:20px;
  margin-bottom:10px;
}

/* TEXT */

.why-card p{
  font-size:14px;
  color:#666;
  line-height:1.6;
}


/* =====================
   TABLET
===================== */

@media (max-width:992px){

.why-container{
  grid-template-columns:repeat(2,1fr);
}

}


/* =====================
   MOBILE
===================== */

@media (max-width:600px){

.why{
  padding:80px 20px;
}

.why-title{
  font-size:28px;
}

.why-container{
  grid-template-columns:1fr;
}

}