/* Reset */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* Body */

html,body {
overflow-x:hidden;
width: 100%;
}

body{
font-family:'Poppins',sans-serif;
  scrollbar-gutter: stable;

}

/* Images */

img{
max-width:100%;
height:auto;
display:block;
}

/* Container */

.container{
max-width:1200px;
margin:auto;
padding:0 20px;
}

/* Mobile Responsive */

@media (max-width:768px){

section{
padding:80px 20px;
}

.hero h1,
.project-hero h1,
.contact-hero h1,
.team-hero h1,
.faq-hero h1{
font-size:28px;
}

.hero p{
font-size:16px;
}

}